In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('dataset1.csv')
df.head(20)

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3.4-Liter Flat-Six,33407,Recent Service Record
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2.5-Liter Inline-Six,46229,Service Manuals
2,2,2015,Chevrolet,Chevrolet Corvette C7,"$87,000",410000,Supercharged 6.2-Liter V8,45429,Accident-Free Carfax Report
3,3,2022,Porsche,Porsche 911 GT3,"$245,000",0,4.0-Liter Flat-Six,98052,Clean Carfax Report
4,4,2005,Mercedes-Benz,NaN,"$16,000",32000,Supercharged 1.8-Liter Inline-Four,34771,Clean Carfax Report
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4.0-Liter V8,92887,Clean Carfax Report
6,6,2020,Jeep,Jeep Wrangler,"$65,000",17000,6.4-Liter V8,48507,Accident-Free Carfax Report
7,7,1966,Ford,Ford Mustang 1964.5-1966,"$35,750",31000,289ci V8,97005,Pioneer AM/FM/CD Stereo
8,8,1980,Mercedes-Benz,Mercedes-Benz W123,"$13,750",58000,2.8-Liter Inline-Six,48067,Spare Parts
9,9,2005,Lotus,Lotus Elise,"$46,000",16000,1.8-Liter Inline-Four,78520,Clean Carfax Report
10,10,2015,Jaguar,Jaguar F-Type,"$46,500",52000,Supercharged 5.0-Liter V8,53217,Clean Carfax Report
11,11,1946,Dodge,NaN,"$12,000",88000,230ci Straight-Six,59079,AM/FM CD Stereo System
12,12,1962,Chevrolet,Chevrolet Corvair,"$7,862",63000,2.3-Liter Flat-Six,37416,Bed
13,13,1928,Chevrolet,NaN,"$5,100",26000,171ci Inline-Four,21713,Rear-Mounted Spare Tire
14,14,1973,Honda,Honda Motorcycles,"$4,500",0,Replacement 544cc Inline-Four,92505,Custom-Fabricated 4-Into-4 Exhaust
15,15,2003,Chevrolet,Chevrolet Pickup,"$23,000",64000,5.3-Liter LS3 V8,20111,Clean Carfax Report
16,16,2001,Audi,Audi A4,"$10,028",46000,2.8-Liter V6,95131,Window Sticker
17,17,2001,Mercedes-Benz,Mercedes-Benz R129 SL,"$13,100",76000,5.0-Liter V8,33180,Hardtop Stand
18,18,2004,Mercedes-Benz,Mercedes-Benz R230 SL,"$25,500",43000,5.0-Liter V8,92648,Clean Carfax Report
19,19,1995,Toyota,Toyota Land Cruiser 80-Series,"$35,000",195000,4.5L 1FZ-FE Inline-Six,32812,Carfax Report

In [21]:
df = df.query('mileage != 0')
df.head(20)

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3.4-Liter Flat-Six,33407,Recent Service Record
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2.5-Liter Inline-Six,46229,Service Manuals
2,2,2015,Chevrolet,Chevrolet Corvette C7,"$87,000",410000,Supercharged 6.2-Liter V8,45429,Accident-Free Carfax Report
4,4,2005,Mercedes-Benz,NaN,"$16,000",32000,Supercharged 1.8-Liter Inline-Four,34771,Clean Carfax Report
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4.0-Liter V8,92887,Clean Carfax Report
6,6,2020,Jeep,Jeep Wrangler,"$65,000",17000,6.4-Liter V8,48507,Accident-Free Carfax Report
7,7,1966,Ford,Ford Mustang 1964.5-1966,"$35,750",31000,289ci V8,97005,Pioneer AM/FM/CD Stereo
8,8,1980,Mercedes-Benz,Mercedes-Benz W123,"$13,750",58000,2.8-Liter Inline-Six,48067,Spare Parts
9,9,2005,Lotus,Lotus Elise,"$46,000",16000,1.8-Liter Inline-Four,78520,Clean Carfax Report
10,10,2015,Jaguar,Jaguar F-Type,"$46,500",52000,Supercharged 5.0-Liter V8,53217,Clean Carfax Report
11,11,1946,Dodge,NaN,"$12,000",88000,230ci Straight-Six,59079,AM/FM CD Stereo System
12,12,1962,Chevrolet,Chevrolet Corvair,"$7,862",63000,2.3-Liter Flat-Six,37416,Bed
13,13,1928,Chevrolet,NaN,"$5,100",26000,171ci Inline-Four,21713,Rear-Mounted Spare Tire
15,15,2003,Chevrolet,Chevrolet Pickup,"$23,000",64000,5.3-Liter LS3 V8,20111,Clean Carfax Report
16,16,2001,Audi,Audi A4,"$10,028",46000,2.8-Liter V6,95131,Window Sticker
17,17,2001,Mercedes-Benz,Mercedes-Benz R129 SL,"$13,100",76000,5.0-Liter V8,33180,Hardtop Stand
18,18,2004,Mercedes-Benz,Mercedes-Benz R230 SL,"$25,500",43000,5.0-Liter V8,92648,Clean Carfax Report
19,19,1995,Toyota,Toyota Land Cruiser 80-Series,"$35,000",195000,4.5L 1FZ-FE Inline-Six,32812,Carfax Report
20,20,1996,Ford,Ford F-Series 1992-1997,"$21,050",74000,7.5-Liter EFI V8,87120,Clean Carfax Report
21,21,1966,Ford,Ford Thunderbird,"$28,250",67000,390ci V8,90740,Thunderbird Wheel Covers

In [22]:
df.drop_duplicates()
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3.4-Liter Flat-Six,33407,Recent Service Record
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2.5-Liter Inline-Six,46229,Service Manuals
2,2,2015,Chevrolet,Chevrolet Corvette C7,"$87,000",410000,Supercharged 6.2-Liter V8,45429,Accident-Free Carfax Report
4,4,2005,Mercedes-Benz,NaN,"$16,000",32000,Supercharged 1.8-Liter Inline-Four,34771,Clean Carfax Report
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4.0-Liter V8,92887,Clean Carfax Report
...,...,...,...,...,...,...,...,...,...
9978,9978,1968,Ford,Ford Bronco U13/U14/U15 1966-1977,"$44,000",83000,Fuel-Injected 302ci V8,85003,"15"" Wheels w/33"" BFGoodrich Tires"
9979,9979,1973,BMW,BMW 2002tii,"$49,250",30000,Numbers-Matching 2.0L Inline-Four,53532,Tool Roll
9980,9980,1990,Porsche,Porsche 964 911,"$93,500",78000,Replacement 3.6-Liter Flat-Six,78738,Window Sticker
9981,9981,1966,Pontiac,Pontiac GTO,"$110,000",68000,Replacement 389ci V8,78628,Refurbishment Records
9982,9982,2020,Ford,Ford Mustang S550,"$154,000",406000,5.2-Liter Voodoo V8,87043,Clean Carfax Report

In [23]:
df = df.dropna()
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3.4-Liter Flat-Six,33407,Recent Service Record
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2.5-Liter Inline-Six,46229,Service Manuals
2,2,2015,Chevrolet,Chevrolet Corvette C7,"$87,000",410000,Supercharged 6.2-Liter V8,45429,Accident-Free Carfax Report
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4.0-Liter V8,92887,Clean Carfax Report
6,6,2020,Jeep,Jeep Wrangler,"$65,000",17000,6.4-Liter V8,48507,Accident-Free Carfax Report
...,...,...,...,...,...,...,...,...,...
9978,9978,1968,Ford,Ford Bronco U13/U14/U15 1966-1977,"$44,000",83000,Fuel-Injected 302ci V8,85003,"15"" Wheels w/33"" BFGoodrich Tires"
9979,9979,1973,BMW,BMW 2002tii,"$49,250",30000,Numbers-Matching 2.0L Inline-Four,53532,Tool Roll
9980,9980,1990,Porsche,Porsche 964 911,"$93,500",78000,Replacement 3.6-Liter Flat-Six,78738,Window Sticker
9981,9981,1966,Pontiac,Pontiac GTO,"$110,000",68000,Replacement 389ci V8,78628,Refurbishment Records
9982,9982,2020,Ford,Ford Mustang S550,"$154,000",406000,5.2-Liter Voodoo V8,87043,Clean Carfax Report

In [24]:
for i in range(7624):
    string = df.iloc[i, 8]
    aList = string.split()
    for j in aList:
        if j.lower() == 'carfax':
            string = 'Carfax'
    if string != 'Carfax':
        string = 'No Carfax'
    df.iloc[i, 8] = string

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [25]:
df['engine_string'] = df['engine']

C:\Users\austi\AppData\Local\Temp/ipykernel_15492/308805021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine string'] = df['engine']

In [26]:
for i in range(7624):
    string = df.iloc[i, 6]
    string = string.replace('-', ' ')
    string = string.replace('cc', ' cc')
    string = string.replace('ci', ' ci')
    string = string.replace('L', ' L')
    string = string.replace(',', '')
    string = string.replace('.', '.')
    df.iloc[i,6] = string
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report,engine string
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3.4 Liter Flat Six,33407,No Carfax,3.4-Liter Flat-Six
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2.5 Liter Inline Six,46229,No Carfax,2.5-Liter Inline-Six
2,2,2015,Chevrolet,Chevrolet Corvette C7,"$87,000",410000,Supercharged 6.2 Liter V8,45429,Carfax,Supercharged 6.2-Liter V8
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4.0 Liter V8,92887,Carfax,4.0-Liter V8
6,6,2020,Jeep,Jeep Wrangler,"$65,000",17000,6.4 Liter V8,48507,Carfax,6.4-Liter V8
...,...,...,...,...,...,...,...,...,...,...
9978,9978,1968,Ford,Ford Bronco U13/U14/U15 1966-1977,"$44,000",83000,Fuel Injected 302 ci V8,85003,No Carfax,Fuel-Injected 302ci V8
9979,9979,1973,BMW,BMW 2002tii,"$49,250",30000,Numbers Matching 2.0 L Inline Four,53532,No Carfax,Numbers-Matching 2.0L Inline-Four
9980,9980,1990,Porsche,Porsche 964 911,"$93,500",78000,Replacement 3.6 Liter Flat Six,78738,No Carfax,Replacement 3.6-Liter Flat-Six
9981,9981,1966,Pontiac,Pontiac GTO,"$110,000",68000,Replacement 389 ci V8,78628,No Carfax,Replacement 389ci V8
9982,9982,2020,Ford,Ford Mustang S550,"$154,000",406000,5.2 Liter Voodoo V8,87043,Carfax,5.2-Liter Voodoo V8

In [27]:
for i in range(7604):
    string = df.iloc[i, 6]
    try:
        aList = string.split()
        li = 0
        for j in aList:
            try:
                j = float(j)
            except:
                pass
            if type(j) == float:
                try:
                    if aList[li + 1].lower() == 'liter':
                        df.iloc[i, 6] = j * 1000
                    elif aList[li + 1].lower() == 'l':
                        df.iloc[i,6] = j * 1000
                    elif aList[li + 1].lower() == 'cc':
                        df.iloc[i,6] = j
                    elif aList[li + 1].lower() == 'ci':
                        df.iloc[i,6] = j * 16.387
                except:
                    df.iloc[i,6] = 0
            li = li + 1
    except:
        pass

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [28]:
df.head(20)

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report,engine string
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3400.0,33407,No Carfax,3.4-Liter Flat-Six
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2500.0,46229,No Carfax,2.5-Liter Inline-Six
2,2,2015,Chevrolet,Chevrolet Corvette C7,"$87,000",410000,6200.0,45429,Carfax,Supercharged 6.2-Liter V8
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4000.0,92887,Carfax,4.0-Liter V8
6,6,2020,Jeep,Jeep Wrangler,"$65,000",17000,6400.0,48507,Carfax,6.4-Liter V8
7,7,1966,Ford,Ford Mustang 1964.5-1966,"$35,750",31000,4735.843,97005,No Carfax,289ci V8
8,8,1980,Mercedes-Benz,Mercedes-Benz W123,"$13,750",58000,2800.0,48067,No Carfax,2.8-Liter Inline-Six
9,9,2005,Lotus,Lotus Elise,"$46,000",16000,1800.0,78520,Carfax,1.8-Liter Inline-Four
10,10,2015,Jaguar,Jaguar F-Type,"$46,500",52000,5000.0,53217,Carfax,Supercharged 5.0-Liter V8
12,12,1962,Chevrolet,Chevrolet Corvair,"$7,862",63000,2300.0,37416,No Carfax,2.3-Liter Flat-Six
15,15,2003,Chevrolet,Chevrolet Pickup,"$23,000",64000,5300.0,20111,Carfax,5.3-Liter LS3 V8
16,16,2001,Audi,Audi A4,"$10,028",46000,2800.0,95131,No Carfax,2.8-Liter V6
17,17,2001,Mercedes-Benz,Mercedes-Benz R129 SL,"$13,100",76000,5000.0,33180,No Carfax,5.0-Liter V8
18,18,2004,Mercedes-Benz,Mercedes-Benz R230 SL,"$25,500",43000,5000.0,92648,Carfax,5.0-Liter V8
19,19,1995,Toyota,Toyota Land Cruiser 80-Series,"$35,000",195000,4500.0,32812,Carfax,4.5L 1FZ-FE Inline-Six
20,20,1996,Ford,Ford F-Series 1992-1997,"$21,050",74000,7500.0,87120,Carfax,7.5-Liter EFI V8
21,21,1966,Ford,Ford Thunderbird,"$28,250",67000,6390.93,90740,No Carfax,390ci V8
23,23,2009,Mercedes-Benz,Mercedes-Benz W211 E-Class,"$11,400",83000,3000.0,53114,Carfax,3.0-Liter Turbodiesel V6
24,24,1979,Porsche,Porsche 911SC,"$85,000",135000,3000.0,97227,No Carfax,3.0-Liter Flat-Six
25,25,1990,Nissan,Nissan 300ZX,"$35,250",49000,3000.0,92663,Carfax,Twin-Turbocharged 3.0-Liter V6

In [29]:
df.dtypes

Unnamed: 0         int64
year               int64
make              object
model             object
final_price       object
mileage            int64
engine            object
zipcode            int64
car_fax_report    object
engine string     object
dtype: object

In [30]:
for i in range(7624):
    value = df.iloc[i, 6]
    if type(value) == str:
        df.iloc[i, 6] = 0

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [31]:
df['engine'] = df['engine'].astype(float)

C:\Users\austi\AppData\Local\Temp/ipykernel_15492/2176177890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine'] = df['engine'].astype(float)

In [32]:
df = df.query('engine != 0')
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report,engine string
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3400.0,33407,No Carfax,3.4-Liter Flat-Six
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2500.0,46229,No Carfax,2.5-Liter Inline-Six
2,2,2015,Chevrolet,Chevrolet Corvette C7,"$87,000",410000,6200.0,45429,Carfax,Supercharged 6.2-Liter V8
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4000.0,92887,Carfax,4.0-Liter V8
6,6,2020,Jeep,Jeep Wrangler,"$65,000",17000,6400.0,48507,Carfax,6.4-Liter V8
...,...,...,...,...,...,...,...,...,...,...
9946,9946,2013,Mercedes-Benz,Mercedes-Benz R231 SL,"$120,000",11000,6000.0,33067,Carfax,Twin-Turbocharged 6.0-Liter V12
9947,9947,2005,Mercedes-Benz,Mercedes-Benz W220 S-Class,"$29,750",40000,5400.0,53114,Carfax,Supercharged 5.4-Liter V8
9948,9948,1974,Honda,Honda Motorcycles,"$3,500",3000,89.0,95032,No Carfax,89cc Four-Stroke Single
9949,9949,1987,BMW,BMW E30 3-Series,"$15,750",48000,2500.0,35223,Carfax,2.5-Liter M20 Inline-Six
9951,9951,1987,Porsche,Porsche 930 Turbo,"$84,000",42000,3300.0,92201,No Carfax,Turbocharged 3.3-Liter Flat-Six

In [33]:
df = df.query('mileage < 300000')
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,car_fax_report,engine string
0,0,1999,Porsche,Porsche 996 911,"$29,840",44000,3400.000,33407,No Carfax,3.4-Liter Flat-Six
1,1,1976,Triumph,Triumph TR6,"$23,500",95000,2500.000,46229,No Carfax,2.5-Liter Inline-Six
5,5,1994,BMW,BMW E31 8-Series,"$19,900",95000,4000.000,92887,Carfax,4.0-Liter V8
6,6,2020,Jeep,Jeep Wrangler,"$65,000",17000,6400.000,48507,Carfax,6.4-Liter V8
7,7,1966,Ford,Ford Mustang 1964.5-1966,"$35,750",31000,4735.843,97005,No Carfax,289ci V8
...,...,...,...,...,...,...,...,...,...,...
9946,9946,2013,Mercedes-Benz,Mercedes-Benz R231 SL,"$120,000",11000,6000.000,33067,Carfax,Twin-Turbocharged 6.0-Liter V12
9947,9947,2005,Mercedes-Benz,Mercedes-Benz W220 S-Class,"$29,750",40000,5400.000,53114,Carfax,Supercharged 5.4-Liter V8
9948,9948,1974,Honda,Honda Motorcycles,"$3,500",3000,89.000,95032,No Carfax,89cc Four-Stroke Single
9949,9949,1987,BMW,BMW E30 3-Series,"$15,750",48000,2500.000,35223,Carfax,2.5-Liter M20 Inline-Six
9951,9951,1987,Porsche,Porsche 930 Turbo,"$84,000",42000,3300.000,92201,No Carfax,Turbocharged 3.3-Liter Flat-Six

In [34]:
df.to_csv('final_dataset_acc.csv')

In [35]:
import sqlite3
conn = sqlite3.connect('data.sqlite')
df.to_sql('new_table_name', conn, if_exists='replace', index=False)

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(