In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('dataset1.csv')
df.head(20)

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode
0,0,1993,Land Rover,Land Rover 110 / Defender 110 (Euro Spec),"$59,500",0,2.5-Liter 200Tdi Turbodiesel Inline-Four,20895
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5.7L Vortec V8,60069
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3.8-Liter Flat-Six,84790
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3.4-Liter DOHC V6,90027
4,4,1971,Triumph,Triumph TR6,"$15,250",0,"32k Miles Shown, TMU",28724
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1.8-Liter Inline-Four,98208
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4.0-Liter V6,57108
7,7,1978,Chevrolet,Chevrolet Pickup,"$33,000",95000,350ci V8,60175
8,8,2018,Dodge,Dodge Challenger,"$106,000",8000,Supercharged 6.2L Hemi V8,90265
9,9,1988,Mercedes-Benz,Mercedes-Benz Gelandewagen,"$35,000",0,2.4-Liter Diesel Inline-Four,33312
10,10,2001,Mercedes-Benz,Mercedes-Benz R129 SL,"$26,250",28000,5.0-Liter V8,7945
11,11,1962,Triumph,Triumph TR4,"$29,000",107000,"2,138cc Inline-Four",95030
12,12,2002,Pontiac,Pontiac Firebird,"$31,000",24000,5.7-liter LS1 V8,31315
13,13,1972,Ford,NaN,"$9,100",9000,122ci Inline-Four,26034
14,14,1970,Ford,Ford Bronco U13/U14/U15 1966-1977,"$85,500",0,302ci V8,48178
15,15,2008,Honda,Honda S2000,"$46,000",32000,2.2-Liter Inline-Four,97217
16,16,2008,Porsche,Porsche 996 911,"$8,600",0,Fiberglass Construction,1562
17,17,1975,Triumph,Triumph Motorcycles,"$9,133",17000,740cc Four-Stroke Triple,48230
18,18,1995,Porsche,Porsche 993 911,"$60,000",47000,3.6-Liter Flat-Six,43551
19,19,1978,Chevrolet,Chevrolet Corvette C3,"$11,501",83000,Replacement 355ci V8,15642

In [5]:
df = df.query('mileage != 0')
df.head(20)

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5.7L Vortec V8,60069
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3.8-Liter Flat-Six,84790
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3.4-Liter DOHC V6,90027
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1.8-Liter Inline-Four,98208
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4.0-Liter V6,57108
7,7,1978,Chevrolet,Chevrolet Pickup,"$33,000",95000,350ci V8,60175
8,8,2018,Dodge,Dodge Challenger,"$106,000",8000,Supercharged 6.2L Hemi V8,90265
10,10,2001,Mercedes-Benz,Mercedes-Benz R129 SL,"$26,250",28000,5.0-Liter V8,7945
11,11,1962,Triumph,Triumph TR4,"$29,000",107000,"2,138cc Inline-Four",95030
12,12,2002,Pontiac,Pontiac Firebird,"$31,000",24000,5.7-liter LS1 V8,31315
13,13,1972,Ford,NaN,"$9,100",9000,122ci Inline-Four,26034
15,15,2008,Honda,Honda S2000,"$46,000",32000,2.2-Liter Inline-Four,97217
17,17,1975,Triumph,Triumph Motorcycles,"$9,133",17000,740cc Four-Stroke Triple,48230
18,18,1995,Porsche,Porsche 993 911,"$60,000",47000,3.6-Liter Flat-Six,43551
19,19,1978,Chevrolet,Chevrolet Corvette C3,"$11,501",83000,Replacement 355ci V8,15642
20,20,2001,Porsche,Porsche 986 Boxster,"$28,000",18000,3.2-Liter Flat-Six,7960
21,21,1966,Ford,Ford Mustang 1964.5-1966,"$20,500",76000,351ci Windsor V8,6074
22,22,1987,Chevrolet,Chevrolet Corvette C4,"$23,500",12000,5.7-Liter L98 V8,19382
23,23,2016,Lexus,NaN,"$60,075",15000,Naturally-Aspirated 5.0-Liter V8,80007
24,24,1969,Mercedes-Benz,Mercedes-Benz W113 SL,"$60,520",34000,2.8-Liter M103 Inline-Six,97330

In [6]:
df.drop_duplicates()
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5.7L Vortec V8,60069
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3.8-Liter Flat-Six,84790
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3.4-Liter DOHC V6,90027
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1.8-Liter Inline-Four,98208
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4.0-Liter V6,57108
...,...,...,...,...,...,...,...,...
9963,9963,1983,Jeep,Jeep CJ-7,"$39,962",24000,4.2-Liter Inline-Six,78726
9964,9964,1997,Ford,Ford F-Series 1992-1997,"$24,900",75000,7.3-liter Power Stroke Turbodiesel V8,80214
9965,9965,1972,Honda,Honda Motorcycles,"$2,400",5000,174cc Parallel Twin,98579
9966,9966,2005,Ford,Ford Thunderbird,"$17,750",22000,3.9-Liter V8,97303
9967,9967,1974,Volkswagen,Volkswagen Beetle,"$9,900",98000,"1,600cc Flat-Four",97446

In [7]:
df = df.dropna()
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5.7L Vortec V8,60069
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3.8-Liter Flat-Six,84790
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3.4-Liter DOHC V6,90027
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1.8-Liter Inline-Four,98208
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4.0-Liter V6,57108
...,...,...,...,...,...,...,...,...
9963,9963,1983,Jeep,Jeep CJ-7,"$39,962",24000,4.2-Liter Inline-Six,78726
9964,9964,1997,Ford,Ford F-Series 1992-1997,"$24,900",75000,7.3-liter Power Stroke Turbodiesel V8,80214
9965,9965,1972,Honda,Honda Motorcycles,"$2,400",5000,174cc Parallel Twin,98579
9966,9966,2005,Ford,Ford Thunderbird,"$17,750",22000,3.9-Liter V8,97303
9967,9967,1974,Volkswagen,Volkswagen Beetle,"$9,900",98000,"1,600cc Flat-Four",97446

In [8]:
df['engine string'] = df['engine']

C:\Users\austi\AppData\Local\Temp/ipykernel_10424/308805021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine string'] = df['engine']

In [9]:
for i in range(7604):
    string = df.iloc[i, 6]
    string = string.replace('-', ' ')
    string = string.replace('cc', ' cc')
    string = string.replace('ci', ' ci')
    string = string.replace('L', ' L')
    string = string.replace(',', '')
    string = string.replace('.', '.')
    df.iloc[i,6] = string
df

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,engine string
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5.7 L Vortec V8,60069,5.7L Vortec V8
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3.8 Liter Flat Six,84790,3.8-Liter Flat-Six
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3.4 Liter DOHC V6,90027,3.4-Liter DOHC V6
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1.8 Liter Inline Four,98208,1.8-Liter Inline-Four
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4.0 Liter V6,57108,4.0-Liter V6
...,...,...,...,...,...,...,...,...,...
9963,9963,1983,Jeep,Jeep CJ-7,"$39,962",24000,4.2 Liter Inline Six,78726,4.2-Liter Inline-Six
9964,9964,1997,Ford,Ford F-Series 1992-1997,"$24,900",75000,7.3 liter Power Stroke Turbodiesel V8,80214,7.3-liter Power Stroke Turbodiesel V8
9965,9965,1972,Honda,Honda Motorcycles,"$2,400",5000,174 cc Parallel Twin,98579,174cc Parallel Twin
9966,9966,2005,Ford,Ford Thunderbird,"$17,750",22000,3.9 Liter V8,97303,3.9-Liter V8
9967,9967,1974,Volkswagen,Volkswagen Beetle,"$9,900",98000,1600 cc Flat Four,97446,"1,600cc Flat-Four"

In [10]:
for i in range(7604):
    string = df.iloc[i, 6]
    try:
        aList = string.split()
        li = 0
        for j in aList:
            try:
                j = float(j)
            except:
                pass
            if type(j) == float:
                try:
                    if aList[li + 1].lower() == 'liter':
                        df.iloc[i, 6] = j * 1000
                    elif aList[li + 1].lower() == 'l':
                        df.iloc[i,6] = j * 1000
                    elif aList[li + 1].lower() == 'cc':
                        df.iloc[i,6] = j
                    elif aList[li + 1].lower() == 'ci':
                        df.iloc[i,6] = j * 16.387
                except:
                    df.iloc[i,6] = 0
            li = li + 1
    except:
        pass

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [11]:
df.head(20)

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,engine string
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5700.0,60069,5.7L Vortec V8
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3800.0,84790,3.8-Liter Flat-Six
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3400.0,90027,3.4-Liter DOHC V6
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1800.0,98208,1.8-Liter Inline-Four
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4000.0,57108,4.0-Liter V6
7,7,1978,Chevrolet,Chevrolet Pickup,"$33,000",95000,5735.45,60175,350ci V8
8,8,2018,Dodge,Dodge Challenger,"$106,000",8000,6200.0,90265,Supercharged 6.2L Hemi V8
10,10,2001,Mercedes-Benz,Mercedes-Benz R129 SL,"$26,250",28000,5000.0,7945,5.0-Liter V8
11,11,1962,Triumph,Triumph TR4,"$29,000",107000,2138.0,95030,"2,138cc Inline-Four"
12,12,2002,Pontiac,Pontiac Firebird,"$31,000",24000,5700.0,31315,5.7-liter LS1 V8
15,15,2008,Honda,Honda S2000,"$46,000",32000,2200.0,97217,2.2-Liter Inline-Four
17,17,1975,Triumph,Triumph Motorcycles,"$9,133",17000,740.0,48230,740cc Four-Stroke Triple
18,18,1995,Porsche,Porsche 993 911,"$60,000",47000,3600.0,43551,3.6-Liter Flat-Six
19,19,1978,Chevrolet,Chevrolet Corvette C3,"$11,501",83000,5817.385,15642,Replacement 355ci V8
20,20,2001,Porsche,Porsche 986 Boxster,"$28,000",18000,3200.0,7960,3.2-Liter Flat-Six
21,21,1966,Ford,Ford Mustang 1964.5-1966,"$20,500",76000,5751.837,6074,351ci Windsor V8
22,22,1987,Chevrolet,Chevrolet Corvette C4,"$23,500",12000,5700.0,19382,5.7-Liter L98 V8
24,24,1969,Mercedes-Benz,Mercedes-Benz W113 SL,"$60,520",34000,2800.0,97330,2.8-Liter M103 Inline-Six
25,25,2001,Porsche,Porsche 996 911,"$25,500",80000,3400.0,89014,3.4-Liter M96 Flat-Six
26,26,2008,BMW,BMW E63/E64 M6,"$27,000",30000,5000.0,11963,5.0-Liter V10

In [12]:
df.dtypes

Unnamed: 0        int64
year              int64
make             object
model            object
final_price      object
mileage           int64
engine           object
zipcode           int64
engine string    object
dtype: object

In [13]:
for i in range(7604):
    value = df.iloc[i, 6]
    if type(value) == str:
        df.iloc[i, 6] = 0

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [14]:
df['engine'] = df['engine'].astype(float)

C:\Users\austi\AppData\Local\Temp/ipykernel_10424/2176177890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine'] = df['engine'].astype(float)

In [15]:
df = df.query('engine != 0')
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,engine string
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5700.0,60069,5.7L Vortec V8
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3800.0,84790,3.8-Liter Flat-Six
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3400.0,90027,3.4-Liter DOHC V6
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1800.0,98208,1.8-Liter Inline-Four
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4000.0,57108,4.0-Liter V6
...,...,...,...,...,...,...,...,...,...
9963,9963,1983,Jeep,Jeep CJ-7,"$39,962",24000,4200.0,78726,4.2-Liter Inline-Six
9964,9964,1997,Ford,Ford F-Series 1992-1997,"$24,900",75000,7300.0,80214,7.3-liter Power Stroke Turbodiesel V8
9965,9965,1972,Honda,Honda Motorcycles,"$2,400",5000,174.0,98579,174cc Parallel Twin
9966,9966,2005,Ford,Ford Thunderbird,"$17,750",22000,3900.0,97303,3.9-Liter V8
9967,9967,1974,Volkswagen,Volkswagen Beetle,"$9,900",98000,1600.0,97446,"1,600cc Flat-Four"

In [16]:
df = df.query('mileage < 300000')
df

,Unnamed: 0,year,make,model,final_price,mileage,engine,zipcode,engine string
1,1,1997,Chevrolet,Chevrolet Suburban,"$17,000",67000,5700.0,60069,5.7L Vortec V8
2,2,1990,Porsche,Porsche 964 911,"$225,000",1000,3800.0,84790,3.8-Liter Flat-Six
3,3,2003,Toyota,Toyota Pickup,"$24,750",116000,3400.0,90027,3.4-Liter DOHC V6
5,5,1992,Volkswagen,Volkswagen Golf/Rabbit Cabriolet,"$10,750",100000,1800.0,98208,1.8-Liter Inline-Four
6,6,2008,Toyota,Toyota FJ Cruiser,"$32,500",9000,4000.0,57108,4.0-Liter V6
...,...,...,...,...,...,...,...,...,...
9963,9963,1983,Jeep,Jeep CJ-7,"$39,962",24000,4200.0,78726,4.2-Liter Inline-Six
9964,9964,1997,Ford,Ford F-Series 1992-1997,"$24,900",75000,7300.0,80214,7.3-liter Power Stroke Turbodiesel V8
9965,9965,1972,Honda,Honda Motorcycles,"$2,400",5000,174.0,98579,174cc Parallel Twin
9966,9966,2005,Ford,Ford Thunderbird,"$17,750",22000,3900.0,97303,3.9-Liter V8
9967,9967,1974,Volkswagen,Volkswagen Beetle,"$9,900",98000,1600.0,97446,"1,600cc Flat-Four"

In [20]:
df['final_price']=(df['final_price'].replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))

C:\Users\austi\AppData\Local\Temp/ipykernel_10424/3087032467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['final_price']=(df['final_price'].replace( '[\$,)]','', regex=True )

In [29]:
df['final_price'].sort_values().head(100)

6937       0.0
6237       0.0
9731       0.0
3924       0.0
3732       0.0
         ...
9817    5150.0
1626    5200.0
8693    5200.0
876     5200.0
9553    5200.0
Name: final_price, Length: 100, dtype: float64

In [30]:
df = df.query('price < 500000')
df = df.query('price > 5000')
df

UndefinedVariableError: name 'price' is not defined

In [31]:
df.to_csv('final_final_dataset.csv')

PermissionError: [Errno 13] Permission denied: 'final_final_dataset.csv'

In [92]:
import sqlite3
conn = sqlite3.connect('data.sqlite')
df.to_sql('new_table_name', conn, if_exists='replace', index=False)

C:\Users\austi\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(